body {
    color: $gray;
}

h3 {
    font-size: 14px;
    @media screen and (min-width: 768px) {
        font-size: 18px;
    }
}

ul {
    padding-top: 10px;
    li {
        margin: 10px;
        padding: 10px;
        background-color: $white;
        color: $gray;
        border-radius: 4px;
        border: 1px solid $gray-600;
        &:hover {
            cursor: pointer;
            background-color: $gray-100;
        }
    }
}

button {
    width: 100%;
    @media screen and (min-width: 768px) {
        max-width: 250px;
    }

    &.main-cta {
        height: 40px;
        border-radius: 20px;
        background-color: $green;
        color: $white;
        font-size: 14px;
        font-weight: 600;
    }
    &.secondary-cta {
        height: 40px;
        border-radius: 20px;
        background-color: $yellow;
        color: $gray-600;
        font-size: 14px;
        font-weight: 600;
        &:hover {
            color: $dark-gray;
        }
    }
}

.loan-app-info {
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid $gray-600;
    background-color: $white;
    padding: 25px;
}

.info-group {
    label {
        font-size: 12px;
        color: $gray-500;
        margin-bottom: 0;
    }
}

.add-loan-app {
    margin-top: 50px;
    border-top: 3px solid $dark-gray;
    padding-top: 30px;
    padding-bottom: 30px;
}

.loan-application-section {
    @media screen and (min-width: 768px) {
        max-height: 90vh;
    }
    max-height: 400px;
    overflow-y: scroll;
}

.search-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.search-input {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid $blue;
    border-radius: 3px;
    background-color: $gray-200;
    &:focus {
        background-color: $white;
        border: 1px solid $yellow;
        outline: none;
    }
}